<html>
  <head>
    <link rel="Stylesheet" type="text/css" href="css/style.css" />
    <title>l2tp on arch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- for SyntaxHighlighter core -->
    <script type="text/javascript" src="scripts/shCore.js"></script>
    <link type="text/css" rel="stylesheet" href="styles/shCore.css"/>
    <!-- for SyntaxHighlighter theme -->
    <link type="text/css" rel="stylesheet" href="styles/shThemeMidnight.css"/>
    <!-- for SyntaxHighlighter syntax -->
    <script type="text/javascript" src="scripts/shBrushAsm.js"></script>
    <script type="text/javascript" src="scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="scripts/shBrushLua.js"></script>
    <script type="text/javascript" src="scripts/shBrushPerl.js"></script>
    <script type="text/javascript" src="scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="scripts/shBrushVim.js"></script>
    <script type="text/javascript" src="scripts/shBrushXml.js"></script>
    <!-- for SyntaxHighlighter execute -->
    <script type="text/javascript">
      SyntaxHighlighter.all();
      </script>
    </head>
    <body>
      <div id="header">
	<div id="top-nav">
	  <li><a href="/"> 主页</a></li>	
	  <li><a href="/diary/diary.html"> 日记</a></li>	
	  <li><a href="http://reverland.tk/about_this_blog"> 关于</a></li>	
	  <li><a href="http://reverland.tk/links"> 链接</a></li>	
	  <li><div class="rss"><a href="https://github.com/reverland/reverland.github.com/commits/master.atom">RSS</a></div></li>
	</div>
	<!--google 搜索-->
	<div align=right>
	  <form method=get action="http://www.google.com/search">
	    <input type=text name=q>
	    <input type=submit name=btnG value="Google 搜索">
	    <input type=hidden name=ie value=GB2312>
	    <input type=hidden name=oe value=GB2312>
	    <input type=hidden name=hl value=zh-CN>
	    <input type=hidden name=domains value="reverland.tk">
	    <input type=hidden name=sitesearch value="reverland.tk">
	  </form>
	</div>
	<!--Google站内搜索结束-->
      </div>
      <div class="content">
	
<p>
L2TP/IPsec是一个安全的虚拟专用网解决方案，在许多不同的平台上支持很好。
</p>

<p>
本文旨在以HOWTO形式描述如何在Arch Linux上配置和使用L2TP/IPSec客户端。本文将介绍几个软件包的安装和设置。其中一个软件包只有在AUR中，因此，如何在系统上安装AUR中包的知识是必需的，因为我不会介绍如何做到这一点。
</p>

<p>
这个指南是连接到Windows Server机器的基本客户端。它使用了一些设置，具体到微软的L2TP/IPsec应用。
</p>

<h2 id="toc_0.1">安装</h2>
<p>
从官方源中安装 {{Pkg|xl2tpd}} 从AUR中安装 {{AUR|ipsec-openswan}} 。
</p>

<h2 id="toc_0.2">配置</h2>
<h3 id="toc_0.2.1">OpenSwan</h3>

<p>
编辑 {{ic|/etc/ipsec.conf}}: 它应该包含以下行：
{{bc|&lt;nowiki&gt;
  config setup
</p>
<blockquote>
virtual_private=%v4:10.0.0.0/8,%v4:192.168.0.0/16,%v4:172.16.0.0/12
nat_traversal=yes
protostack=netkey
oe=no
</blockquote>
<ol>
<li>
Replace eth0 with your network interface
       plutoopts="--interface=eth0"
  conn L2TP-PSK
       authby=secret
       pfs=no
       auto=add
       keyingtries=3
       dpddelay=30
       dpdtimeout=120
       dpdaction=clear
       rekey=yes
       ikelifetime=8h
       keylife=1h
       type=transport

<li>
Replace IP address with your local IP (private, behind NAT IP is okay as well)
       left=192.168.1.101
       leftnexthop=%defaultroute
       leftprotoport=17/1701

<li>
Replace IP address with your VPN server's IP
       right=68.68.32.79
       rightprotoport=17/1701

</ol>
<p>
&lt;/nowiki&gt;}}
此文件包含建立一个安全的IPsec隧道到VPN服务器的基本信息。如果你的机器在一个NAT'ing路由器后（大多数人是），各种其他连接到远程IPSec服务器选项正确，它使NAT穿越有效。下一个文件包含服务器预共享密钥（PSK）。
</p>

<p>
创建文件 {{ic|/etc/ipsec.secrets}}:它应该包含以下行: 
 192.168.1.101 68.68.32.79 : PSK "'''your_pre_shared_key'''"
</p>

<p>
请记住，以取代本地（192.168.1.101）和远程（68.68.32.79）的IP地址与您的位置正确的数字。将提供预共享密钥的VPN供应商，将需要以明文的形式放置在这个文件中。
</p>

<p>
At this point the IPsec configuration is complete and we can move on to the L2TP configuration.
</p>

<h3 id="toc_0.2.2">xl2tpd</h3>

<p>
Edit {{ic|/etc/xl2tpd/xl2tpd.conf}}: It should resemble the following:
</p>

<p>
{{bc|&lt;nowiki&gt;
  [lac vpn-connection]
  lns = 68.68.32.79
  ppp debug = yes
  pppoptfile = /etc/ppp/options.l2tpd.client
  length bit = yes
&lt;/nowiki&gt;}}
</p>

<p>
This file configures xl2tpd with the connection name, server IP address(which again, please remember to change to your servers address) and various options that will be passed to pppd once the tunnel is set up.
</p>

<p>
Now modify {{ic|/etc/ppp/options.l2tpd.client}}:
  ipcp-accept-local
  ipcp-accept-remote
  refuse-eap
  require-mschap-v2
  noccp
  noauth
  idle 1800
  mtu 1410
  mru 1410
  defaultroute
  usepeerdns
  debug
  lock
  connect-delay 5000
  name '''your_vpn_username'''
  password '''your_password'''
</p>

<p>
Place your assigned username and password for the VPN server in this file. A lot of these options are for interoperability with Windows Server L2TP servers.
</p>

<p>
This concludes the configuration of the applicable software suites to connect to a L2TP/IPsec server. To start the connection do the following:
  /etc/rc.d/openswan start
  /etc/rc.d/xl2tpd start
  ipsec auto --up L2TP-PSK
  echo "c vpn-connection" &gt; /var/run/xl2tpd/l2tp-control
</p>

<p>
At this point the tunnel is up and you should be able to see the interface for it if you type:
</p>

<p>
 $ ip link
</p>

<p>
You should see a {{Ic|pppX}} device that represents the tunnel. Right now, nothing is going to get routed through it. You need to add some routing rules to make it work right:
</p>

<h2 id="toc_0.3">Routing</h2>
<h3 id="toc_0.3.1">Routing traffic to a single IP address through the tunnel</h3>
<p>
This is as easy as adding a routing rule to your kernel table:
</p>

<p>
  #route add xxx.xxx.xxx.xxx gw yyy.yyy.yyy.yyy eth0
</p>

<p>
Replace xxx.xxx.xxx.xxx with the specific ip address of the server that you wish to communicate with through the tunnel, then replace yyy.yyy.yyy.yyy with the remote IP your PPP connection. The remote IP of a PPP connection can be discovered by issuing:
</p>

<p>
  #ifconfig
</p>

<p>
and reading the P-t-P address for the PPP interface that corresponds to your tunnel.
</p>

<h3 id="toc_0.3.2">Routing all traffic through the tunnel</h3>
<p>
This is a lot more complex, but all your traffic will travel through the tunnel. Start by adding a special route for the actual VPN server through your current gateway:
</p>

<p>
  #route add 68.68.32.79 gw 192.168.1.1 eth0
</p>

<p>
This will ensure that once the default gateway is changed to the ppp interface that your network stack can still find the VPN server by routing around the tunnel. If you miss this step you will lose connectivity to the Internet and the tunnel will collapse. Now add a default route that routes to the PPP remote end:
</p>

<p>
  #route add default gw yyy.yyy.yyy.yyy eth0
</p>

<p>
The remote PPP end can be discovered by following the step in the previous section. Now to ensure that ALL traffic is routing through the tunnel, delete the original default route:
</p>

<p>
  #route delete default gw 192.168.1.1 eth0
</p>

<p>
To restore your system to the previous state, you can reboot or reverse all of the above steps.
</p>

<h2 id="toc_0.4">Troubleshooting</h2>

<p>
'''Issue:''' I get a message from pppd saying "Failed to authenticate ourselves to peer" and I've verified my password is correct. What could be wrong?
</p>

<p>
'''Solution:''' If you see the following in your /var/log/daemon.log:
</p>

<p>
{{bc|1=
Dec 20 15:14:03 myhost pppd[26529]: rcvd [CHAP Challenge id=0x1 &lt;some_or_another_hash&gt;, name = "SonicWALL"]
Dec 20 15:14:03 myhost pppd[26529]: sent [CHAP Response id=0x1 &lt;some_or_another_hash&gt;, name = "your_vpn_username"]
Dec 20 15:14:03 myhost pppd[26529]: rcvd [LCP EchoRep id=0x0 magic=0x45c269c6]
Dec 20 15:14:03 myhost pppd[26529]: rcvd [CHAP Failure id=0x1 ""]
Dec 20 15:14:03 myhost pppd[26529]: CHAP authentication failed
Dec 20 15:14:03 myhost pppd[26529]: CHAP authentication failed
Dec 20 15:14:03 myhost pppd[26529]: sent [LCP TermReq id=0x3 "Failed to authenticate ourselves to peer"]
Dec 20 15:14:03 myhost pppd[26529]: rcvd [LCP TermReq id=0x2]
Dec 20 15:14:03 myhost pppd[26529]: sent [LCP TermAck id=0x2]
Dec 20 15:14:03 myhost pppd[26529]: rcvd [LCP TermAck id=0x3]
}}
</p>

<p>
then you are authenticating against a SonicWALL LNS that does not know how to handle CHAP-style authentication correctly.
</p>

<p>
The solution to this is to add the following to your options.l2tp.client file:
</p>

<p>
{{bc|
   refuse-chap
}}
</p>

<p>
This will cause the SonicWALL to default to the next authentication mechanism, namely MSCHAP-v2. This should authenticate successfully, and from this point xl2tpd should successfully construct a tunnel between you and the remote L2TP server.
</p>

<h2 id="toc_0.5">Tips and Tricks</h2>

<h3 id="toc_0.5.1">Script start up and shut down</h3>

<p>
You can create some scripts either in your home directory or elsewhere(remember where you put them) to bring up the tunnel then shut it back down.
</p>

<p>
First, a utility script to automatically discover PPP distant ends: getip.sh
</p>
  
<p>
{{bc|&lt;nowiki&gt;
  #!/bin/bash
</p>
  
<p>
  /sbin/ifconfig $1 | grep "P-t-P" | gawk -F: '{print $2}' | gawk '{print $1}'
&lt;/nowiki&gt;}}
</p>

<p>
Next, the script to bring the tunnel up. This will replace the default route, so all traffic will pass via the tunnel: startvpn.sh
</p>

<p>
{{bc|&lt;nowiki&gt;  
  #!/bin/bash
</p>
  
<p>
  /etc/rc.d/openswan start
  sleep 2                                                   #delay to ensure that IPsec is started before overlaying L2TP
  /etc/rc.d/xl2tpd start
  /usr/sbin/ipsec auto --up L2TP-PSK                        
  /bin/echo "c vpn-connection" &gt; /var/run/xl2tpd/l2tp-control     
  sleep 2                                                   #delay again to make that the PPP connection is up.
  PPP_GW_ADD=<code>./getip.sh ppp0</code>
</p>
  
<p>
  route add 68.68.32.79 gw 192.168.1.1 eth0
  route add default gw $PPP_GW_ADD
  route delete default gw 192.168.1.1
&lt;/nowiki&gt;}}
</p>

<p>
Finally, the shutdown script, it simply reverses the process: stopvpn.sh
</p>

<p>
{{bc|
  #!/bin/bash
</p>
  
<p>
  /usr/sbin/ipsec auto --down L2TP-PSK
  /bin/echo "d vpn-connection" &gt; /var/run/xl2tpd/l2tp-control
  /etc/rc.d/xl2tpd stop
  /etc/rc.d/openswan stop
</p>
  
<p>
  route delete 68.68.32.79 gw 192.168.1.1 eth0
  route add default gw 192.168.1.1
}}
</p>

<h3 id="toc_0.5.2">AUR link for the OpenSwan package</h3>

<p>
{{AUR|OpenSwan}} can be found in the <a href="AUR.html">AUR</a>.
</p>

<h2 id="toc_0.6">External links</h2>

<ul>
<li>
<a href="http://openswan.org/">http://openswan.org/</a>

<li>
<a href="http://www.xelerance.com/software/xl2tpd/">http://www.xelerance.com/software/xl2tpd/</a>

<li>
<a href="http://strongvpn.com/forum/viewtopic.php?pid=1844/">http://strongvpn.com/forum/viewtopic.php?pid=1844/</a>

</ul>

<h2 id="toc_0.7">Acknowledgements</h2>

<p>
I would like to thank phaoost from the StrongVPN forums for his initial guide to setup L2TP/IPsec on Linux, for without, this article would certainly not be possible.
</p>

      </div>
      <!--评论-->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'reverlandwiki'; // required: replace example with your forum shortname
      var disqus_identifier="l2tp on arch";

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
     </script>
     <noscript>要查看或参与评论，请启用 JavaScript 支持 <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
     <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
     <hr />
     <div id="footer">
     <center  style="font-family: 微软雅黑; font-size: small; font-weight: normal; color: #009933">Reverland&nbsp;&copy;&nbsp;2012
       Generate by <a href="http://www.vim.org" target="_blank">Vim</a> &amp; <a href="http://code.google.com/p/vimwiki" target="_blank">VimWiki</a><br />
       reverland.tk<br />
       <a href="http://www.vim.org"><img src="Image/vim.png" /></a>
     </center>
     <script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
     <script src="js/vimwiki.js" type="text/javascript"></script>
   </div>
 </body>
 <!--google analystic-->
 <script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-29270088-1']);
   _gaq.push(['_trackPageview']);

   (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

  </html>
